<link rel="stylesheet" href="/styles/.less.templates.css" type="text/css">

<div class="devicee">
  <img src="https://d3nevzfk7ii3be.cloudfront.net/igi/pLYg4Mbqni2LYlN3.thumbnail" alt="iPhone 4S">
  <p class="name">iPhone 4S</p>
</div>

<hr>

<div class="results">

  <div class="device"><p>iPhone 4S</p></div>
  <div class="device"><p>iPhone 4S</p></div>
  <div class="device"><p>iPhone 4S</p></div>
  <div class="device"><p>iPhone 4S</p></div>
  <div class="device"><p>iPhone 4S</p></div>
  <div class="device"><p>iPhone 4S</p></div>
  <div class="device"><p>iPhone 4S</p></div>
  <div class="device"><p>iPhone 4S</p></div>
  <div class="device"><p>iPhone 4S</p></div>
  <div class="device"><p>iPhone 4S</p></div>

</div>


