@dark: #1F2124;
@ifixit-blue: #0171BB;

* {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

.main-logo {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -70px;
}

.results-wrapper {

  #results-meta {
    color: #999;


  }
}










